<section>
  <menu>
    <h6 class="title">CRUD GESTIÓN DE PAGOS</h6>
  </menu>
  <div class="btn-create-pay">
    <button mat-raised-button (click)="createForm()"><mat-icon>add</mat-icon>Crear nuevo pago</button>
  </div>
    <div *ngIf="formVisible">
        <form class="form" [formGroup]="form" (ngSubmit)="createPayment()">
            <h6 class="subtitle">Realizar Pago</h6>
            <mat-form-field class="input">
                <mat-label>Escribe el monto</mat-label>
                <input matInput formControlName="value" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Elige el país de destino</mat-label>
                <mat-select formControlName="country" >
                  @for (item of countries; track item) {
                    <mat-option [value]="item.id">{{item.nombre}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Selecciona el tipo de moneda</mat-label>
                <mat-select formControlName="coin" >
                  @for (item of coins; track item) {
                    <mat-option [value]="item.id">{{item.nombre}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            <button mat-flat-button type="submit"  class="btn-pay" [disabled]="!form.valid">Crear Pago</button>
            <button mat-button class="btn-cancel" (click)="reloadPage()">Cancelar</button>
        </form>
    </div>
    <table mat-table [dataSource]="payments" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="centered-cell">Id.</th>
            <td mat-cell *matCellDef="let element" class="centered-cell">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef class="centered-cell">monto</th>
            <td mat-cell *matCellDef="let element" class="centered-cell">{{ element.value }}</td>
        </ng-container>
        <ng-container matColumnDef="nameCountry">
          <th mat-header-cell *matHeaderCellDef class="centered-cell">Pais</th>
          <td mat-cell *matCellDef="let element" class="centered-cell" >{{ element.nameCountry }}</td>
        </ng-container>
        <ng-container matColumnDef="nameState">
          <th mat-header-cell *matHeaderCellDef class="centered-cell">Estado del pago</th>
          <td mat-cell *matCellDef="let element" class="centered-cell">{{ element.nameState }}</td>
        </ng-container>
        <ng-container matColumnDef="nameCoin">
          <th mat-header-cell *matHeaderCellDef class="centered-cell">Moneda</th>
          <td mat-cell *matCellDef="let element" class="centered-cell">{{ element.nameCoin }}</td>
        </ng-container>
        <ng-container matColumnDef="createAt">
          <th mat-header-cell *matHeaderCellDef class="centered-cell">Fecha de Creación</th>
          <td mat-cell *matCellDef="let element" class="centered-cell">{{ element.createAt | date }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="centered-cell">Acciones</th>
            <td mat-cell *matCellDef="let element" class="centered-cell">
                <button mat-button (click)="deletePayment(element.id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</section>